.categories {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    width: 100%;
    border-bottom: 2px solid var(--green-lighter);
    padding-bottom: 1rem;
}

.sources {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font:
        300 1em 'Fira Sans',
        sans-serif;
}

.source__category-name {
    display: block;
    margin: 0.5em;
    border: 2px solid var(--green);
    padding: 1em 2em;
    color: var(--green);
    font: inherit;
    line-height: 1;
    background: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.source__item.active,
.source__category-name.active {
    border-color: var(--active);
    box-shadow: 0 0.5em 0.5em -0.4em var(--active);
    color: var(--active);
}

.source__category-name:hover {
    border-color: var(--active);
    box-shadow: 0 0.5em 0.5em -0.4em var(--active);
    color: var(--active);
}

.category-items {
    display: flex;
    flex-wrap: wrap;
}

.source__item {
    margin: 0.5em;
    border: 2px solid var(--blue);
    padding: 1em 1em;
    color: var(--blue-lighter);
    font: inherit;
    line-height: 1;
    background: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.source__item:hover,
.source__item:focus {
    border-color: var(--active);
    box-shadow: 0 0.5em 0.5em -0.4em var(--active);
    color: var(--active);
    transform: translateY(-0.25em);
}

.source__item-name {
    font-weight: 400;
    white-space: nowrap;
}

@media (width < 1024px) {
    .categories {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0rem;
        padding-bottom: 0.2rem;
    }

    .sources {
        flex-wrap: wrap;
        justify-content: space-between;
        font-size: 0.8em;
    }

    .source__category-name {
        margin: 0.2em;
        padding: 0.7em 1em;
        text-align: center;
    }

    .category-items {
        display: flex;
        flex-wrap: wrap;
    }
}
