.page.dark {
	:root {
		--bg-img: url('../assets/dark.png') bottom no-repeat;
		--svg-sound: url('../assets/white-volume.svg') no-repeat center;
		--first-c: #4d0000;
		--second-c: #ffffff;
		--button-border: 1px solid #808080;
		--field-border: 2px solid #2e2e2e;
		--success: #727e5b;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-img: url('../assets/dark.png') bottom no-repeat;
		--svg-sound: url('../assets/white-volume.svg') no-repeat center;
		--first-c: #4d0000;
		--button-border: 1px solid #808080;
		--success: #727e5b;
	}
}
