:root {
	--ff: 'Nuku', sans-serif;
	--field-border: 2px solid #8d8d8d;
	--cell-bg: #f5f5f5;
	--cell-br: #cccccc;
	--info-cell-bg: #919191;
	--cell-choosen: #080000;
	--cell-marked: #808080;
	--transform-to-open: translate(500px);
	--transform-to-close: translate(-500px);
	--light-red: #ff000080;
	--hover: #b41919;
	--overlay: #000000cc;
}

body {
	font-family: var(--ff);
	background: var(--bg-img);
	background-size: cover;
}

.page {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	max-width: 1280px;
	min-height: 100vh;
	margin: 0 auto;
	padding: 1rem 2rem;
	color: var(--second-c);
}

.header {
	display: grid;
	grid-template-columns: 2fr 1fr;
	align-items: center;
	gap: 2rem;
}

.title {
	color: var(--second-c);
	font-weight: lighter;
	font-size: 3rem;
	letter-spacing: 3rem;
	text-align: center;
}

.controls {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
}

.button {
	border: var(--button-border);
	padding: 0.6rem 2rem;
	outline: none;
	font-weight: lighter;
	text-align: center;
	background-color: var(--first-c);
	transition: all 0.4s ease-in-out;
}

.button[disabled] {
	opacity: 0.5;
	pointer-events: none;
}

.button:hover {
	border-color: transparent;
	background-color: var(--hover);
	cursor: pointer;
}

.button:active {
	transform: scale(0.95);
}

.start:hover {
	background-color: var(--success);
}

.volume {
	color: var(--hover);
	background: var(--svg-sound);
	background-color: var(--first-c);
}

.controls-header {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: var(--first-c);
}

.volume.active {
	opacity: 0.2;
}

.theme {
	color: var(--success);
	background-color: var(--second-c);
}

.theme:hover {
	color: var(--second-c);
}

.main {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	gap: 1rem;
	width: 100%;
}

.controls-main {
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 2rem;
	width: 100%;
}

.info {
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 1rem;
	border: var(--second-c);
	padding: 0.5rem;
	color: var(--second-c);
	background-color: var(--info-cell-bg);
}

.info .info-timer {
	color: #ff0000;
	font-size: 1.8rem;
}
