.page {
}

.section {
}

svg {
  width: 24px;
  height: 24px;
}
.container {
  display: flex;
  justify-content: center;
  align-content: center;
  max-width: 1440px;
  margin: 0 auto;
  padding: 60px 8px;
}

.content {
}

.button {
  width: max-content;
  border-radius: 20px;
  padding: 20px 32px;
  color: white;
  text-transform: uppercase;
  background-color: var(--dark);
}

.header {
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 82px;
  font-weight: 600;
  font-size: 12px;
  font-style: normal;
  line-height: 130%;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.header__logo {
  display: flex;

  align-items: center;
  gap: 8px;
  padding: 8px 20px;
}

/* .header__logo svg {
  width: 24px;
  height: 24px;
} */

.header__logo-text {
}

.header__nav {
}

.header__nav-list {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.header__nav-item {
}

.header__nav-link {
  border-radius: 20px;
  padding: 20px 12px;
  transition: all 0.3s ease-in-out;
}

.header__nav-link:hover {
  color: var(--primary);
  background-color: var(--primary-alpha);
}

/* hero */

.hero {
  color: white;
  text-align: center;
}
.section {
}

.hero__content {
  border-start-start-radius: 20px;
  border-start-end-radius: 20px;
  background-color: var(--primary);
}
.container {
}

.hero__content .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  max-width: 430px;
  padding: 60px 0;
}

.content {
}

.hero__caption {
}
.caption {
}
.hero__title {
}
.hero__button {
  /* align-self: center; */
}

/*  about  */

.about {
}
.section {
}
.about__content {
  background-color: var(--primary);
}
.container {
}

.about__content .content {
  display: flex;
  border-radius: 20px;
  background-color: var(--content-bc);
}
.about__article__content {
  display: flex;
  align-items: center;
  padding: 0 60px;
}

.about__article {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 426px;
  padding: 60px 0;
}
.about__caption {
}
.caption {
}
.about__title {
}
.about__text {
}
.about__image {
}

.about__content .content img {
  flex-shrink: 0;
  width: 638px;
  height: 528px;
  border-radius: 20px;
}

/*  slider  */

.slider {
  color: white;
}
.section {
}
.slider__content {
  background-color: var(--primary);
}

.slider__content .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  overflow: hidden;
}

.container {
}

.content {
}

.slider__header {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.slider__caption {
}
.caption {
}
.slider__header {
  text-align: center;
}

.slider__list {
  display: flex;
  align-items: center;
  gap: 20px;
}
.slider__item {
}
.slider__item img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

.slider__subtitle {
}
.slider__image {
}
.slider__controls {
  display: flex;
  gap: 20px;
  align-self: flex-end;
}
.slider__button {
  border: 1px solid white;
  border-radius: 20px;
  padding: 16px;
}

/* .slider__button svg {
  width: 24px;
  height: 24px;
} */

/*   special  */

.special {
}
.section {
}
.special__content {
  background-color: var(--primary);
}
.container {
}
.content {
}
.special__content .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.special__header {
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: white;
  text-align: center;
}
.special__caption {
}
.caption {
}
.special__title {
}
.special__list {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.special__list li {
  width: 310px;
  border-radius: 20px;
  background-color: #fff;
}

.special__list-item:hover .special__item-header .special__description {
  color: var(--primary);
}
.special__image {
  border-start-start-radius: 20px;
  border-start-end-radius: 20px;
  background-color: var(--content-bc);
}
.special__item-header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px;
}
.special__subtitle {
}
.special__description {
  transition: color 0.3s ease-in-out;
}

/*  timer  */

.timer {
}
.section {
}
.timer__content {
  border-end-start-radius: 20px;
  border-end-end-radius: 20px;
  color: white;
  text-align: center;
  background-color: var(--primary);
}
.container {
}

.timer__content .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 60px 0;
}
.timer__title {
  max-width: 426px;
}
.timer__button {
}
.button {
}
.timer__caption {
}
.caption {
}
.timer__container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.timer__list {
  display: flex;
  border-radius: 20px;
  padding: 8px 12px;
  background-color: var(--static-white-four);
}
.timer__item {
  /* display: flex;
  flex-direction: column; */
  width: 80px;
}
.timer__item--days {
}
.timer__value {
}
.timer__label {
}
.timer__item--hours {
}
.timer__item--minutes {
}
.timer__item--seconds {
}

/*  footer  */

.footer {
}
.section {
}
.footer__content {
}
.container {
}
.footer__content .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  width: 100%;
}
/* .footer__contacts {
} */
.footer__contacts-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  width: 100%;
}

.footer__contacts-item {
  border-radius: 20px;
  background-color: var(--content-bc);
  transition: color 0.3s ease-in-out;
}

.footer__contacts-item:hover {
  color: var(--primary);
}

.contact {
  padding: 20px;
  text-align: center;
}

.contact svg {
  width: 80px;
  height: 80px;
}

.footer__phone {
}
.footer__title {
}
.footer__location {
}
.footer__email {
}
.footer__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.footer__icons-list {
  display: flex;
  align-items: center;
  gap: 12px;
}

.footer__icon-item {
  padding: 8px;
}

.footer__icon-item {
}

.footer__icon {
}

.footer__icon .footer__text {
}
.footer__caption {
  transition: color 0.3s ease-in-out;
}

.footer__caption:hover {
  color: var(--primary);
}
.caption {
}

/*  specific  */

.pink {
  color: var(--tag-pink);
}

.green {
  color: var(--tag-green);
}

.purple {
  color: var(--tag-purple);
}
