svg {
  width: 24px;
  height: 24px;
}

.container {
  display: flex;
  justify-content: center;
  align-content: center;
  max-width: 1440px;
  margin: 0 auto;
  padding: 60px 8px;
}

.button {
  width: max-content;
  border-radius: 20px;
  padding: 20px 32px;
  color: var(--static-white);
  font-weight: 600;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  background-color: var(--dark);
  transition: all 0.3s ease-in-out;
}

.scroll {
  display: none;
}

/*  header */

.header {
  position: relative;
  font-weight: 600;
  font-size: 12px;
  font-style: normal;
  line-height: 130%;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.header__content {
  padding: 12px 82px;
}

.header__content .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 20px;
}

.header__logo svg {
  color: var(--primary);
}

.header__nav-list {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.header__nav-link {
  border-radius: 20px;
  padding: 12px 20px;
  transition: all 0.3s ease-in-out;
}

.header__nav-link.active {
  color: var(--primary);
  background-color: var(--primary-alpha);
  cursor: default;
}

/*  header - burger  */

.header__nav-burger-button {
  display: none;
}

.header__nav-burger__container {
  display: none;
}

/*  hero  */

.hero {
  color: var(--static-white);
  text-align: center;
}

.hero__content {
  border-start-start-radius: 20px;
  border-start-end-radius: 20px;
  background: url("../assets/bg-ball.png") center / cover no-repeat,
    url("../assets/bg-snow.png") center / cover no-repeat, var(--primary);
}

.hero__content .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  max-width: 430px;
  padding: 60px 0;
}

/*  about  */

.about__content {
  background: url("../assets/bg-snow.png") center / cover no-repeat;
  background-color: var(--primary);
}

.about__content .content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  margin: 0 74px;
  border-radius: 20px;
  background-color: var(--static-white);
}

.about__article__content {
  display: flex;
  align-items: center;
  padding: 0 60px;
}

.about__article {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 426px;
  padding: 60px 0;
}

.about__image {
  display: flex;
  justify-content: center;
  border-radius: 20px;
  overflow: hidden;
}

.about__image img {
  width: auto;
  height: 100%;
}

/*  slider  */

.slider {
  color: var(--static-white);
}

.slider__content {
  overflow: hidden;
  background: url("../assets/bg-snow.png") center / cover no-repeat;
  background-color: var(--primary);
}

.slider__content .content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 0 74px;
}

.slider__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  text-align: center;
}

.slider__list {
  display: flex;
  gap: 20px;
  transition: 0.6s ease-in-out;
  transform: translateX(0px);
}

.slider__item {
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 20px;
}

.slider__item img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

.slider__controls {
  display: flex;
  gap: 20px;
  align-self: flex-end;
}

.slider__button {
  border: 1px solid white;
  border-radius: 20px;
  padding: 16px;
  transition: all 0.5s ease-in-out;
}

.slider__button svg {
  display: block;
  width: 24px;
  max-height: 24px;
}

.slider__button[disabled] {
  border-color: var(--static-white-four);
  color: var(--static-white-four);
  cursor: default;
}

/*   special  */

.special__content {
  background: url("../assets/bg-snow.png") center / cover no-repeat;
  background-color: var(--primary);
}

.special__content .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
  width: 100%;
}

.special__header {
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: var(--static-white);
  text-align: center;
}

.special__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 12px;
}

/*  timer  */

.timer__content {
  border-end-start-radius: 20px;
  border-end-end-radius: 20px;
  color: var(--static-white);
  text-align: center;
  background: url("../assets/bg-forest.png") center / cover no-repeat,
    url("../assets/bg-snow.png") center / cover no-repeat;
  background-color: var(--primary);
}

.timer__content .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 120px 0;
}

.timer__title {
  max-width: 426px;
}

.timer__container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.timer__list {
  display: flex;
  border-radius: 20px;
  padding: 8px 12px 12px;
  background-color: var(--static-white-four);
}

.timer__item {
  width: 80px;
}

/*  footer  */

.footer__content .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  width: 100%;
  padding: 0 74px;
}

.footer__contacts-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  width: 100%;
}

.footer__contacts-item {
  border-radius: 20px;
  background-color: var(--content-bc);
  transition: color 0.3s ease-in-out;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  text-align: center;
}

.contact svg {
  width: 80px;
  height: 80px;
}

.footer__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.footer__icons-list {
  display: flex;
  align-items: center;
  gap: 12px;
}

.footer__icon-item {
  display: block;
  padding: 8px;
}

.footer__icon-item svg {
  transition: color 0.3s ease-in-out;
}

.footer__caption {
  transition: color 0.3s ease-in-out;
}

/*  gift card  */

.gift-item {
  width: 310px;
  height: 342px;
  border-radius: 20px;
  background-color: var(--static-white);
}

.gift__image {
  border-start-start-radius: 20px;
  border-start-end-radius: 20px;
  background-color: var(--content-bc);
}

.gift__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px;
}

.gift__title {
  transition: color 0.3s ease-in-out;
}

/* popup */

.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: none;
  justify-content: center;
  align-items: center;
}

.popup_is-opened {
  visibility: visible;
  display: flex;
  opacity: 1;
  transition: visibility 0s, opacity 0.6s;
  pointer-events: all;
}

.popup__container {
  position: relative;
  max-width: 400px;
  height: max-content;
  border-radius: 20px;
  background-color: var(--content-bc);
}

.popup__close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.popup__close-btn::before,
.popup__close-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 1px;
  background-color: var(--dark);
  transition: transform 0.3s ease;
  transform-origin: center;
}

.popup__close-btn::before {
  transform: rotate(45deg);
}

.popup__close-btn::after {
  transform: rotate(-45deg);
}

.popup__image {
  display: flex;
  align-items: center;
  max-height: 230px;
  border-radius: 20px;
  overflow: hidden;
  background-color: var(--content-bc);
}

.popup__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;
  padding: 20px;
  background-color: var(--static-white);
}

.popup__header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.popup__rating {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.popup__list-item {
  display: flex;
  gap: 12px;
}

.popup__list-item .type {
  width: 100%;
}

.popup__snowflake-list {
  display: flex;
  gap: 8px;
  padding: 4px 0;
}

.popup__snowflake-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  color: var(--primary-alpha);
}

.popup__snowflake-list-item.active {
  color: var(--primary);
}

/*  */

@media (max-width: 1400px) {
  .footer__content .content {
    padding: 0;
  }

  .footer__contacts-list {
    grid-template-columns: 1fr;
  }
}

/* table 768px */

@media (max-width: 768px) {
  .scroll {
    position: fixed;
    right: 8px;
    bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    border: 1px solid var(--primary);
    border-radius: 50%;
    background-color: var(--static-white);
    transition: 0.5s ease-in-out;
    transform: translateY(200%);
  }

  .scroll.active {
    transform: translateY(0);
  }

  .header__content {
    padding: 12px 8px;
  }

  .header__nav {
    display: none;
  }

  .header__nav-burger-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
  }

  .header__nav-burger-button::before,
  .header__nav-burger-button::after {
    content: "";
    position: absolute;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 1px;
    background-color: var(--dark);
    transition: transform 0.3s ease;
  }

  .header__nav-burger-button::before {
    top: 16px;
  }

  .header__nav-burger-button::after {
    bottom: 16px;
  }

  .header__nav-burger-button.active::before {
    top: 50%;
    transform: rotate(45deg);
    transform-origin: center;
  }

  .header__nav-burger-button.active::after {
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
  }

  .header__nav-burger__container {
    position: fixed;
    top: 64px;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    background-color: var(--static-white);
    transition: transform 0.3s ease;
    transform: translateX(100%);
  }

  .header__nav-burger__container.active {
    transform: translateX(0);
  }

  .header__nav-burger__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .header__nav-burger__menu-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .header__nav-burger__menu-link {
    display: block;
    padding: 12px 20px;
    text-align: center;
  }

  .about__content .content {
    margin: 0;
  }

  .slider__content .content {
    padding: 0;
  }
}

/* mobile 380px */

@media (max-width: 650px) {
  .about__content .content {
    grid-template-columns: 1fr;
  }

  .about__article__content {
    padding: 0 20px;
  }
}

/* hover */

@media (hover: hover) {
  .header__nav-link:hover {
    color: var(--primary);
    background-color: var(--primary-alpha);
  }

  .slider__button:not([disabled]):hover {
    color: var(--primary);
    background-color: var(--static-white);
  }

  .gift-item:hover {
    cursor: pointer;
  }

  .gift-item:hover .gift__content .gift__title {
    color: var(--primary);
  }

  .footer__contacts-item:hover {
    color: var(--primary);
  }

  .footer__icon-item:hover svg {
    color: var(--primary);
  }

  .footer__caption:hover {
    color: var(--primary);
  }

  .button:hover {
    color: red;
    background-color: var(--static-white);
  }

  .header__nav-burger__menu-link {
    cursor: pointer;
  }
}
