.notifications {
  position: absolute;
  bottom: 100px;
  right: 2em;

  display: flex;
  flex-direction: column;
  gap: 1em;
}

.notification {
  font-weight: bold;
  border-radius: var(--border-radius);
  border: 1px solid transparent;
  padding: 1em 3em;
  min-height: 50px;
  width: fit-content;
}

.error {
  background-color: var(--error);
  border-color: var(--color-white);
  color: var(--color-white);
}

.user {
  color: var(--color-celadon-darker);
  background-color: var(--color-cream-lighter);
  border-color: var(--color-celadon-darker);
}
