.notifications {
  position: absolute;
  bottom: 100px;
  right: 2em;

  display: flex;
  flex-direction: column;
  gap: 1em;
}

.notification {
  font-weight: bold;
  border-radius: var(--border-radius);
  border: 1px solid transparent;
  padding: 1em 3em;
  min-height: 50px;
  width: fit-content;
  opacity: 0.7;
}

.error {
  background-color: var(--error);
  color: white;
}

.user {
  background-color: var(--color-lavender-darker);
}

.message {
  background-color: var(--color-celadon);
}
