*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  color: var(--font-color);
  background-color: var(--color-lavender);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: currentcolor;
}

button {
  border: none;
  background: transparent;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  overflow: hidden;

  inline-size: 1px;
  block-size: 1px;

  white-space: nowrap;

  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}
