:root {
  --color-lavender: #e6e6fa;
  --color-lavender-darker: #cacae6;
  --color-celadon: #b2f2bb;
  --color-celadon-darker: #91cf99;
  --color-celadon-lighter: #8ff19c;
  --color-cream: #fffdd0;
  --color-cream-lighter: #fffdbb;
  --color-cream-darker: #f3ec89;
  --color-quartz: #4a4a4a;
  --color-white: #ffffff;
  --color-brightening: #ffffffb2;
  --status: #0e1a1093;
  --font-color: var(--color-quartz);
  --button-background: var(--color-celadon);
  --box-shadow: 0 0 5px 0 #00000050;
  --border-radius: 3px;
  --online: var(--color-celadon-lighter);
  --offline: #ff00003f;
  --hover: #ff99004d;
  --error: #ff000067;
}
