.chat__dialogue {
  grid-area: dialogue;
  width: 100%;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  background-color: #e5ffd4;
  display: grid;
  grid-template-rows: 1fr 70px;
  max-height: 100%;
  min-height: 100%;
}

.messages-wrapper {
  scroll-behavior: smooth;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-height: 500px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--color-celadon-darker) transparent;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.empty-chat__text {
  text-align: center;
  margin-top: 3em;
  font-size: 1.5em;
}
