.wheel-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-button {
  cursor: pointer;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: 80px;
  height: 80px;
  border: none;
  border-radius: 50%;

  color: var(--second-color-darker);

  background-color: #ffffff;
  outline: none;

  transition: 0.5s ease-in-out;
}

.start-button:hover {
  color: #ffffff;
  background-color: var(--third-color-lighter);
}

.start-button:active,
.start-button:focus {
  color: #ffffff;
  background-color: var(--third-color-darker);
}

.start-button[disabled] {
  color: transparent;
  background-color: #ffffff7a;
}

.special {
  margin: 0 2rem;
  padding: 0.5rem 0;
  border-radius: 1rem;

  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1rem;

  background-color: var(--first-color-lighter);

  transition: 0.3s ease-in-out;
}

.highlighted {
  background-color: var(--third-color);
  box-shadow: 0 0 10px 10px var(--third-color);
}
