.wheel-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-button {
  cursor: pointer;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: 80px;
  height: 80px;
  border: none;
  border-radius: 50%;

  color: var(--second-color-darker);

  background-color: #ffffff;
  outline: none;

  transition: 0.5s ease-in-out;
}

.start-button:active,
.start-button:focus {
  background-color: #dadada;
}
