:root {
	--default: #000000;
	--main-color: var(--easy);
	--easy: #85ff85;
	--medium: #8585ff;
	--hard: #ff8585;
	--accent: #970065;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	margin: 0;
}

body {
	font-family: monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

button,
input {
	border: none;
	color: currentcolor;
	font-family: inherit;
	font-size: inherit;
	background-color: transparent;
	cursor: text;
}

ul,
ol {
	list-style: none;
}

img {
	display: block;
	width: 100%;
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	inline-size: 1px;
	block-size: 1px;
	white-space: nowrap;
	clip-path: inset(50%);
}
