.difficulty {
	display: flex;
	gap: 2rem;
}

/* buttons  */

.difficulty .button {
	border-radius: 1rem;
	background-color: transparent;
}

.difficulty .button[disabled] {
	opacity: 0.5;
	pointer-events: none;
}

.difficulty .button[disabled]:hover {
	background-color: transparent;
}

.button.easy {
	border-color: var(--easy);
}

.button.medium {
	border-color: var(--medium);
}

.button.hard {
	border-color: var(--hard);
}

.button.hard:active,
.button.easy:active,
.button.medium:active {
	opacity: 0.7;
}

.button.easy:hover,
.button.easy.active {
	background-color: var(--easy);
}

.button.medium:hover,
.button.medium.active {
	background-color: var(--medium);
}

.button.hard:hover,
.button.hard.active {
	background-color: var(--hard);
}

@media ((768px <= width )) {
	/* x */
}

@media (width < 768px) {
	/* x */
}
