/* information div */

.information {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	width: 100%;
}

.controls {
	display: grid;
	flex-direction: column;
	grid-template-columns: 1fr 1fr;
	gap: 0.3rem;
	min-height: 60px;
	border: 1px solid transparent;
}

.controls .button {
	width: 100%;
	border-radius: 0.8rem;
	opacity: 0.8;
}

.controls .button:active {
	transform: scale(0.9);
}

.controls .button:hover {
	opacity: 1;
}

.start {
	grid-column: 1/-1;
	background-color: var(--main-color);
}

.next {
	background-color: var(--main-color);
}

.repeat {
	background-color: var(--medium);
}

.controls .button[disabled] {
	opacity: 0.1;
	pointer-events: none;
}

.restart {
	background-color: var(--hard);
}

.status {
	display: grid;
	grid-template-columns: 1fr fit-content(100%);
	padding: 0.5rem 0.7rem;
}

.info {
	font-weight: bold;
	font-size: 150%;
	font-style: italic;
}

/* display div */

.keyboardWrapper {
	width: 100%;
}

.display {
	display: flex;
	justify-content: center;
	width: 100%;
	border-radius: 1rem;
	padding: 0.5rem;
	padding-bottom: 1rem;
	box-shadow: 0 0 25px #7d7d7d;
}

.output {
	display: flex;
	gap: 1rem;
	width: 100%;
	padding: 0.5rem;
	padding: 1rem 1rem 0.4rem;
	font-weight: bold;
	font-size: 1rem;
	letter-spacing: 1rem;
	text-align: center;
}

.output:focus {
	outline: none;
}

/* keyboard div */

.keyboard {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	gap: 1rem;
	width: 100%;
	height: 100%;
	padding: 1.5rem;
}

.button.key {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 40px;
	padding: 0;
	font-size: 200%;
}

.button.key:hover {
	color: var(--main-color);
}

.button.key.active {
	box-shadow: 0 0 10px 10px var(--main-color);
	color: black;
	background-color: var(--main-color);
}

.button.key.wrong {
	box-shadow: 0 0 10px 10px var(--hard);
	color: black;
	background-color: var(--hard);
}

.key[disabled] {
	opacity: 0.5;
	pointer-events: none;
}

.key[disabled]:hover,
.key[disabled].active {
	box-shadow: none;
	color: black;
	background-color: transparent;
}

@media ((768px <= width )) {
	/* x */
}

@media (width < 768px) {
	.status {
		display: flex;
		flex-direction: column-reverse;
		align-items: start;
		gap: 0.5rem;
	}

	.rounds {
		font-size: 1rem;
	}

	.display {
		padding: 0.5rem;
	}

	.display-wrapper {
		padding-bottom: 0;
	}

	.output {
		gap: 0;
	}

	.output-key {
		padding: 0.5rem;
	}

	.button.key {
		font-size: 100%;
		text-transform: uppercase;
	}

	.button.key.active {
		box-shadow: 0 0 3px 3px var(--main-color);
		color: black;
		background-color: var(--main-color);
	}

	.button.key:active {
		box-shadow: 0 0 3px 3px var(--main-color);
	}
}
