.footer {
  background-color: var(--color-lavender-darker);
}

.footer-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
  place-items: center;

  padding: 1em 5em;
}

.footer__logo-link {
  border-radius: var(--border-radius);
  background-color: var(--color-white);
  padding: 1em;
  font-size: 0.7em;
  height: 100%;
  width: 100px;
  display: inline-block;
  text-align: center;
}

.footer__authour {
  opacity: 0.7;
  display: inline-block;
  padding: 0.5em 1em;
  border-bottom: 2px solid transparent;
  transition: 0.3s ease-in-out;
}

.footer__authour:hover {
  border-bottom-color: var(--color-celadon-lighter);
  opacity: 1;
}

.footer__year {
  opacity: 0.7;
  font-size: 0.9em;
}

@media (width <= 768px) {
  .footer-wrapper {
    display: grid;
    gap: 0.5em;
    place-items: center;
    padding: 1em;
  }
}
