.input {
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background-color: transparent;
  transition: 0.3s ease-in-out;
  padding: 0.5em 1em;
  font-weight: 700;
  color: inherit;
  display: flex;
  flex-direction: column;
  opacity: 0.6;
}

.input:hover {
  background-color: var(--color-celadon-darker);
  cursor: pointer;
}

.input:active {
  background-color: var(--color-celadon);
}

.input:focus {
  background-color: var(--color-celadon);
  color: inherit;
  opacity: 1;
}
