.chat-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: max-content 1fr;
  gap: 1em;
  max-height: 70svh;
  align-items: center;
  grid-template-areas:
    "list info"
    "list dialogue";

  margin: 2em;
  padding: 2em;
  border-radius: var(--border-radius);
  background-color: var(--color-cream);
  box-shadow: var(--box-shadow);
}
